.headerMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  background-color: transparent;
  border-bottom: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

/* ------ Search Section ------ */
.searchContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.searchBox {
  width: 80%;
  position: relative;
}

.searchBox input {
  width: 100%;
  padding: 8px 40px 8px 10px;
  font-size: 16px;
  border: 1px solid #023047;
  border-radius: 50px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #023047;
  pointer-events: none;
}

/* ------ Hamburger Menu Section ------ */
.hamburgerContainer {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburgerButton {
  background: none;
  padding: 0;
  height: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

.hamburgerButton:hover {
  transform: scale(1.1);
  color: #001f2d;
}

.menuDropdown {
  position: absolute;
  top: 45px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeInDown 0.3s ease-out;
  z-index: 30;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menuDropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuIcon {
  width: 100px;
  height: 40px;
  background-color: #023047;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.menuIcon a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.menuIcon:hover {
  background-color: #011c30;
}
