
.card{
    width: 180px;
    background-color: white;
    height: max-content;
    border-radius: 20px;
    border: 0.5px solid rgba(128, 128, 128, 0.233);
    justify-content: center;
    text-align: center;
    align-content: center;
    box-shadow: 0 4px 12px rgba(73, 73, 73, 0.5);
    margin-bottom: 20px;
    cursor: pointer;
    z-index: 1000;
}
.card:hover {
    transform: translateY(-5px); /* Add hover effect */
    transition: .5s ease;
  }
  .cardLink{
    text-decoration: none;
    color: inherit;
  }
.img{
    width: 90%;
    height: 70%;
    padding: 5%;
    border-radius: 20px;
    margin: 0 auto;
}
.title{
    font-size: 20px;
    font-weight: 300;
    color: #023047;
   padding: 0px;
   margin-top: 0px;
}
.price{
    width: 90%;
    color: white;
    background-color: #023047;
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    direction: rtl;
    cursor: pointer;
}
.price:hover{
    background-color: #FFD700;
    color: #023047;
}


/* responsive */
@media (max-width: 768px) {
    .card{
        width: 150px;
        height: max-content;
    }
    .img{
        width: 80%;
        height: 60%;
    }
    .title{
        font-size: 16px;
    }
    .price{
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .card{
        width: 110px;
        height: max-content;
        border-radius: 10px;
    }
    .img{
        width: 98%;
        height: 50%;
    }
    .title{
        font-size: 14px;
        margin-bottom: 1px;
    }
    .price{
        font-size: 12px;
        font-weight: lighter;
        padding: 3px 1px;
        border-radius: 5px;
    }
}